h1{
    text-align: center;
}
table{
    margin: auto;
}
td{
    height: 100px;
    width: 100px;
}
.horizontal{
    border-top: black 5px solid;
    border-bottom: black 5px solid;
}
.vertical{
    border-right: black 5px solid;
    border-left: black 5px solid;
}